NODE_ENV=production
SERVER_PORT=3000
URL_FRONTEND=http://10.10.100.118:3001

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=codebase

#Credenciales de Resend para envío de correos
RESEND_API_KEY=re_EyGyQ423423423

#Credenciales de Twilio para envío de Whatsapp
TWILIO_ACCOUNT_SID=tu_account_sid
TWILIO_AUTH_TOKEN=tu_auth_token
TWILIO_PHONE_NUMBER=tu_numero_twilio

#Credenciales para guardar documentos en cloudfare
# Variables para Cloudflare R2
R2_BUCKET_NAME=medcorebucket
R2_ENDPOINT=https://pub-189fccaf1d9f45c4a5f7fe3203c4bf7d.r2.dev
R2_ACCESS_KEY_ID=tu_access_key
R2_SECRET_ACCESS_KEY=tu_secret_key
R2_PUBLIC_URL=https://pub-midominio.r2.dev

#Credenciales para Auth de Google
GOOGLE_CLIENT_ID="pega-aqui-tu-id-de-cliente"


#JSON WEB TOKEN SECRET
JWT_SECRET=123456789